<div class = "order-template">
    <div class = "order-info">
        <div>
            <span class="pizza-name"><%= pizza.title %> (<%= size %>)</span>
            <div>Ціна: <%= pizza[size].price %> грн.</div>
            <div>
                <button class="btn btn-danger minus">-</button>
                <span class="label label-default"><%= quantity %></span>
                <button class="btn btn-success plus">+</button>
                <button class="btn btn-danger remove"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
            </div>
        </div>
    </div>
    <div class="order-image">
        <div class="crop">
            <img src=<%=pizza.icon%>>
        </div>
    </div>
</div>
